{% extends "base.html" %}
{% load i18n %}

{% block page_title %}Contact// crazylazy.info &ndash; crazylazy.info &ndash; programming, IT security and maehhh

{% endblock %}</title> 


{% block meta_description %}{% trans "Contact form" %}{% endblock %}

{% block content %}

<h1>Contact</h1>

{% if not form.errors %}
    <p>{% blocktrans %}Here you can contact <a href="{{ WEB_URL }}info/">Marius Ciepluch</a>, the maintainer of this page. But first some guidelines:{% endblocktrans %}</p>
    <div class="note">
    <ul>
        <li>{% trans "Keep your email <em>short and concise</em>!" %}</li>
        <li>{% trans "No spam. Use a RFC compliant mailserver." %}
        <li>{% trans "This is a private site. So don't offer me these stupid half-legal security jobs, because most stuff I write here isn't even qualified." %} 
    </ul>
    </div>
    <p>{% trans "Answers take time." %}</p>
{% else %}
    <h2>{% trans "There were errors!" %}</h2>
    <p>{% trans "The form coudn&rsquo;t be submitted, please check the following errors:" %}</p>
    <div class="warning">
        <ul>
        {% for error in form.name.errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
        {% for error in form.email.errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
        {% for error in form.message.errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

<form action="." method="post" id="formular">
    <fieldset>
    <legend>{% trans "Contact data" %}:</legend>
        {% for field in form %}
            <p{% if field.errors %} class="eingabefehler"{% endif %}>{{ field.label_tag }}{% if field.field.required %}*{% endif %} {{ field }}</p>
        {% endfor %}
        <p><small>{% trans "* required" %}</small></p>
        <p><input class="button" tabindex="4" type="submit" value="Senden" name="formmail" /></p>

    </fieldset>
</form>

{% endblock %}
